.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
  height: 100%;
  margin: 1rem auto;
  max-width: 1100px;
}

@media (max-width: 1100px) {
  .grid {
    padding: 0 1rem;
  }
}
