.inputWrapper {
  padding: 1rem;
  position: sticky;
  color: #121212;
  background-color: var(--mantine-color-gray-1);
  top: 0;
  z-index: 100;
  max-width: 1100px;
  margin: 1rem auto 0;
  border-radius: 0.5rem;
  align-items: center;
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  overflow: hidden;
}

.inputContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .inputWrapper {
    border-radius: 0;
    margin: 1rem 0;
    border-radius: 5px;
  }

  .inputContainer {
    display: block;
  }
}
